# HTTP Basic Auth Credentials
WP_BASIC_AUTH_USER="your-username-here"
WP_BASIC_AUTH_PASS="your-password-here"

# Staging Environment Configuration
STAGING_SUFFIX=".stagin-name"
STAGING_SSH_HOST="ssh-host-name"

# Knowledge Base Configuration
KNOWLEDGE_BASE_URL="central-base-url"

# Default Theme Configuration
WP_THEME_REPO="git@github.com:starter-theme"
WP_WOO_BRANCH="woocommerce-branch-name"
WP_REACT_BRANCH="react-branch-name"
